/*headings*/

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/*Paragraph*/

p {
  font-size: 1.5rem;
  line-height: 1.125rem;
}



.text-primary-color {
  color: var(--primary-color);
}

.text-secondary-color {
  color: var(--secondary-color);
}

.text-disabled {
  color: var(--dark-grey);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalise {
  text-transform: capitalize;
}

.small-text {
  font-size: 0.875rem;
}

.big-text {
  font-size: 1.125rem;
}

.text-light {
  font-weight: lighter;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.text-no-underline {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end;
}

.text-left {
  text-align: start;
}

.text-justify {
  text-align: justify;
}

.link-no-style {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.text-cursor-pointer {
  cursor: pointer;
}

/* font-weight */
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

/* font sizes */
.text-xs {
  font-size: 0.4rem;
}

.text-sm {
  font-size: 0.8rem;
}

.text-base {
  font-size: 1.6rem;
}

.text-lg {
  font-size: 2.4rem;
}

.text-xl {
  font-size: 3.2rem;
}

.text-2xl {
  font-size: 6.4rem;
}

/*line height*/

.lh-4 {
  line-height: 1rem;
}

.lh-5 {
  line-height: 1.25rem;
}

.lh-6 {
  line-height: 1.5rem;
}

.lh-7 {
  line-height: 1.75rem;
}

.lh-8 {
  line-height: 2rem;
}

.lh-9 {
  line-height: 2.25rem;
}

.lh-10 {
  line-height: 2.5rem;
}