.box-shadow {
  box-shadow: var(--default-box-shadow);
}

.cursor-pointer {
  cursor: pointer;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}

.d-flex{
  display: flex;
}

.align-center{
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

/* z-index */
.z-1 {
	z-index: 1;
}

.z-2 {
	z-index: 2;
}

.z-3 {
	z-index: 3;
}

.z-4 {
	z-index: 4;
}

.z-5 {
	z-index: 5;
}
.z-6 {
	z-index: 6;
}

.z-10 {
	z-index: 10;
}