.box-shadow {
  box-shadow: var(--default-box-shadow);
}

.cursor-pointer {
  cursor: pointer;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}

/* flex */

.d-flex{
  display: flex;
}

.align-center{
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.inline-flex {
  display: inline-flex;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-center {
  align-items: center;
  justify-content: center;
}


.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.content-start {
  justify-content: flex-start;
}

.content-end {
  justify-content: flex-end;
}

.content-space-between {
  justify-content: space-between;
}

.content-space-around {
  justify-content: space-around;
}



/* z-index */
.z-1 {
	z-index: 1;
}

.z-2 {
	z-index: 2;
}

.z-3 {
	z-index: 3;
}

.z-4 {
	z-index: 4;
}

.z-5 {
	z-index: 5;
}
.z-6 {
	z-index: 6;
}

.z-10 {
	z-index: 10;
}