<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Calm_UI | Input</title>
</head>

<body>
    <section class="Input">
        <h4 class="mb-3">Input</h4>
        <h6 class="mt-5 mb-3 ">Textbox & Error/validation Input</h6>
        <p class="mb-3"> Inputs are necessary for user interaction with the website.
            Inputs are used to take information from the user, and then save the data to the server, accordingly.
        </p>


        <div class="component-display">
            <div class="input-group">
                <label>Username *</label>
                <input type="text">
            </div>

            <div class="input-group err">
                <label>Password *</label>
                <input type="text">
                <div class="error-message">
                    Wrong Password. Try again.
                </div>
            </div>
        </div>
    </section>
    <div class="code-snippet">
        <code>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522input-group%2522%253E%250A%2520%2520%2520%2520%253Clabel%253EUsername%2520*%253C%252Flabel%253E%250A%2520%2520%2520%2520%253Cinput%2520type%253D%2522text%2522%253E%250A%253C%252Fdiv%253E%250A%250A%253Cdiv%2520class%253D%2522input-group%2520err%2522%253E%250A%2520%2520%2520%2520%253Clabel%253EPassword%2520*%253C%252Flabel%253E%250A%2520%2520%2520%2520%253Cinput%2520type%253D%2522text%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522error-message%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520Wrong%2520Password.%2520Try%2520again.%250A%2520%2520%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                style="width: 100%; height: auto; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </code>
    </div>

</body>

</html>