.btn {
  padding: 10px 20px;
  color: #fff;
  /* background: var(--btn-bg-color); */
  text-decoration: none;
  margin: auto;
  border-radius: 5px;
}

.btn-solid-primary {
  background-color: var(--btn-bg-color);
  color: var(--text-color);
}

.btn-solid-primary:hover {
  background-color: var(--primary-color-hover);
}

.btn-outline-primary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-primary:hover {
  border: 1px solid var(--primary-color-hover);
  /* background-color: var(--primary-color-hover);
  color: var(--text-color); */
}

.btn-icon-primary {
  color: var(--primary-color);
  background: inherit;
}

.btn-link-primary {
  text-decoration: underline var(--primary-color);
  text-underline-position: under;
  color: var(--btn-bg-color);
  background: inherit;
}

/*Floating Button*/
.btn-float {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* position: fixed; */
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  font-size: 1.125rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--text-color);
  z-index: 2;
}

.btn-float:hover {
  background-color: var(--primary-color-hover);
  transform: scale(1.05, 1.05);
}

.btn-outline-secondary {
  border: 1px solid var(--grey);
  color: var(--dark-grey);
}