<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Calm_UI | Toast</title>
</head>

<body>
    <div class="container">
        <header class="head-nav">
            <h2><a href="/index.html" class="logo">Calm UI</a></h2>
            <div class="navigation">
                <a href="/pages/documentation.html">Home</a>
                <a href="/pages/documentation.html">Docs</a>
                <a href="https://github.com/rajkishancode/Calm-Designs">Contribute</a>
            </div>
        </header>

        <div class="doc-container">
            <div class="side-bar">                
                <div class="nested-list1">
                    <div class="list-topic">
                        <a href="/Components/Avatar/avatar.html">Components</a>
                    </div>
                    <ul class="list-subtopic">
                        <li>
                            <a href="/components/Avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="/components/Alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Badge/badge.html">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="/components/Button/button.html">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="/components/Card/card.html">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="/components/Image/image.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Input/input.html">
                                Input
                            </a>
                        </li>
                        <li>
                            <a href="/components/Navigation/navigation.html">
                                Navigation
                            </a>
                        </li>
                        <li>
                            <a href="/components/Rating/rating.html">
                                Rating
                            </a>
                        </li>

                        <li>
                            <a href="/components/Toast/toast.html">
                                Toast
                            </a>
                        </li>

                        <li>
                            <a href="/components/Modal/modal.html">
                                Modal
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="doc-content">
                <section class="Toast">
                    <h4 class="mb-3 text-primary-color">Toast</h4>
                    <p class="mb-3 lh-7"> Toasts display brief, temporary notifications. They're meant to be noticed without
                        disrupting a user's experience or requiring an action to be taken.
                    </p>
                    <div class="component-display">
                        <div class="toast">
                            <strong><i class="fas fa-check-circle fa-lg mr-2"></i>Account created.<br></strong>
                            We've created your account for you.
                        </div>
                    </div>
                    <div class="code-snippet">
                        <code>
                            <iframe
                                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522toast%2522%253E%250A%253Cstrong%253E%253Ci%2520class%253D%2522fas%2520fa-check-circle%2520fa-lg%2520mr-2%2522%253E%253C%252Fi%253EAccount%2520created.%253Cbr%253E%253C%252Fstrong%253E%250AWe%27ve%2520created%2520your%2520account%2520for%2520you.%250A%253C%252Fdiv%253E"
                                style="width: 100%; height: auto; border:0; transform: scale(1); overflow:hidden;"
                                sandbox="allow-scripts allow-same-origin">
                            </iframe>
                        </code>
                    </div>

                </section>
                <footer>
                    <div class="prev-comp">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--grommet-icons" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path></svg>
                        <a href="/components/Rating/rating.html">Rating</a>

                    </div>
                    <div class="next-comp">
                        <a href="/components/Modal/modal.html">Modal</a>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em"
                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                            <path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path>
                        </svg>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>