<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Calm_UI | Toast</title>
</head>
<body>
    <section class="Toast">
        <h4 class="mb-3">Toast</h4>
        <p class="mb-3 "> Toasts display brief, temporary notifications. They're meant to be noticed without disrupting a user's experience or requiring an action to be taken.
        </p>
        <div class="component-display">
            <div class="toast">
                <strong><i class="fas fa-check-circle fa-lg mr-2"></i>Account created.<br></strong>
                We've created your account for you.
            </div>
        </div>
        <div class="code-snippet">
            <code>
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522toast%2522%253E%250A%253Cstrong%253E%253Ci%2520class%253D%2522fas%2520fa-check-circle%2520fa-lg%2520mr-2%2522%253E%253C%252Fi%253EAccount%2520created.%253Cbr%253E%253C%252Fstrong%253E%250AWe%27ve%2520created%2520your%2520account%2520for%2520you.%250A%253C%252Fdiv%253E"
          style="width: 100%; height: auto; border:0; transform: scale(1); overflow:hidden;"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
            </code>
        </div>

    </section>
    
</body>
</html>